mixin cardFirst(number,title,subtitle,descriptionFirst,descriptionSecond,descriptionTree,descriptionFour,link)
   .card-activities.card-activities--first
      .card-activities__content
         p.card-activities__number #{number}
            .card-activities__item
               h3.card-activities__title #{title}
               p.card-activities__subtitle #{subtitle}
               ul.card-activities__description
                  li #{descriptionFirst}
                  li #{descriptionSecond}
                  li #{descriptionTree}
                  li #{descriptionFour}
            a.context-link(href = link target='blank') Узнать больше
               .card-activities__fake-block
                  .card-activities__circles
                     img(src = './img/card/subtract.svg', alt="circles")
                  .overlay.overlay--first
                  .overlay.overlay--second
                  .overlay.overlay--third
         block
